@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #222a38;
  color: white;
}

* {
  box-sizing: border-box;
}

#app {
  height: 100%;
}

a {
  color: white;
}

@font-face {
  font-family: runeFont;
  src: url(D2Runes.ttf);
}

.rune-text {
  font-family: runeFont;
  position: relative;
  top: -70px;
  left: 25px;
  height: auto;
  width: auto;
  font-size: 48px;
}

.rune-svg polygon {
  fill: #2b2a33;
  stroke: #2a2d28;
  stroke-width: 2;
}

.fill-color g {
  fill: black;
}

.noisy {
  width: 300px;
  background:
    radial-gradient(rgba(255,255,255,.5), rgba(0,0,0,.5)),
    url('/noise.svg');
}

table {
  border: solid 1px gray;
}

td {
  padding: 10px;
  border: 1px solid gray;
}
